<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <h1 class="loginTitle">Login</h1>
    <div class="login"></div>
      <form class="loginForm">
        <input type="email" id="email" name="email"  class="email" placeholder="Introduce el email" required/>
        <input type="password" id="password" name="password" class="password" placeholder="Introduce la contraseña" required/>
        <button  id="loginButton" class="loginButton" type="submit">Inicia Sesión</button>
        <div id="mensaje"></div>
      </form>
    </div>
     
      <script type="module" src="../utils/configLogin.js"></script>
</body>
</html>