<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <h1 class="registerTitle">Register</h1>
    <div class="registerContainer">
      <form action="/register"  class="registerForm" method="POST">
        <input type="email" name="email"  class="emailRegister"  id="emailRegister" placeholder="Introduce tu email" required>
        <input type="password" name="password" class="passwordRegister" id="passwordRegister" placeholder="Introduce tu contraseña" required>
        <button id="registerButton" class="registerButton" type="submit">Regístrate</button>
        <div id="mensaje"></div>
      </form>
    </div>
  <script type="module" src="../utils/configRegister.js"></script>
</body>
</html>

