html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*mis css*/

body {
	background-color: white;
}

header {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 20px;
	background-color: rgb(14, 62, 14) ;
}


nav {
    display:flex;
	justify-content: center;
	text-decoration: none;
	padding: 12px;

}

nav ul {
    display:flex;
	text-decoration: none;
	padding: 10px
}

nav ul li{
	list-style:none
}

nav ul li a{
	display:inline;
	justify-content: center;
	text-decoration: none;
	color: rgb(14, 62, 14);
	padding: 20px;
	cursor: pointer;
	font-size: 22px;
}

.productContainer {
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap:24px;
	padding-top: 150px
	
}

.productCard {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 6px;
	background-color: rgb(14, 62, 14);
	text-align: center;
	font-size: 16px;
	color: white;
	max-width: 300px;
	width: calc(33.33% - 24px);
	
}
 .productCard h2 {
	padding-bottom: 20px;
	padding-top: 20px;
	font-size: 20px;
 }

.productCard img {
	width: 200px;
	height: 200px;
}

.productCard a {
	text-decoration: none;
	font-size: 16px;
	color: white;
	padding-top: 12px;
	padding-bottom: 8px;
}